/* Nav */

nav {
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	background: white;
	width: 100%;
	border: 1px solid grey;
	padding: 20px 0;
	z-index: 1;
}

nav a {
	text-decoration: none;
	color: grey;
}

nav a:hover {
	color: black;
}

/* End nav */

/* Detail page */

.descriptionLabel {
	margin-top: 1em;
	margin-bottom: 0;
}

.addCommentForm {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 20px;
}

.commentContainer {
	border: 1px solid lightgrey;
}

#comment {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: none;
	font-family: Helvetica;
	padding: 10px;
}

.commentBottom {
	background: #ebebeb;
	text-align: right;
	padding: 5px;
}

.commentBottom button {
	border: none;
	border-radius: 5px;
	background: lightgrey;
	padding: 10px 20px;
	cursor: pointer;
}

.commentBottom button:hover {
	background: grey;
}

/* End detailpage */